* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* TABLES-VIEWS */
.table-container {
    background-color: #1f2937;
    width: 65%;
    padding: 1.3rem 2rem;
    border-radius: 10px;
}

.btn {
    padding: .275rem .65rem;
    margin: 0.1rem;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-pencil {
    background-color: #ff7e22;
}

.btn-pencil:hover {
    background-color: #c55d12;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0.5rem;
}

.nav ul {
    display: inline-flex;
    align-items: stretch;
    margin-left: 1rem;
    margin-bottom: 0;
    list-style: none;
}

.element {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.50rem 0.75rem;
    margin-left: 0;
    color: rgb(156, 163, 175);
    background-color: #1f2937;
    border: 1px solid rgb(55, 65, 81);
}

.element:hover {
    color: white;
    background-color: rgb(55, 65, 81);
}

.prev {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.num-selected {
    color: white;
    background-color: rgb(55, 65, 81);
}

.next {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* FORMS */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f2937;
  width: 420px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  border-radius: 10px;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #374151;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

option {
  background-color: #374151;
  color: #d3d3d3;
  padding: 1rem;
}

.div-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.primary-btn {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #2563EB;
  color: white;
}

/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
